*{
    margin:  0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    width: 90%;
}
#header{
    background: #8dd8e058;
    padding: 20px 0;
    position: fixed;
   z-index: 99;
   right: 0;
   left: 0;
   
}
a{
    text-decoration: none;
    font-family: sans-serif;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span__bar{
    display: flex;
    align-items: center;
    gap: 150px;
}
 nav{
    gap: 80px;
    display: flex;
}
nav a:hover{
    padding-right: 30px;
    background: rgba(255, 255, 0, 0.726);
    border: 1px solid white;
    border-radius: 10px;
    transition: .60s;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    color: #636465;
}
.header__btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__btn button{
    background: #0095A4;
    width: 106px;
    height: 39px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.header__btn button:hover{
   padding-left: 20px;
    background: rgba(255, 60, 0, 0.726);
    border: 1px solid white;
    border-radius: 10px;
    transition: .60s;
}
.header__btn a:hover{
    padding-right: 30px;
    background: rgba(255, 60, 0, 0.726);
    border: 1px solid white;
    border-radius: 10px;
    transition: .60s;
    
}
.header__btn a:nth-child(1){
   font-size: 18px;
   color: #636465;
   font-weight: 400;
}
#section1{
    padding-top: 200px ;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head h1{
    font-family: Playfair Display;
font-size: 68px;
font-weight: 700;
line-height: 81.6px;
text-align: left;
}
.head b{
    color: #0095A4;
}
.head__text{
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.head__text p{
    width: 494px;
    font-size: 19px;
    color: #122237;
    font-weight: 400;
}
.head__text button{
    background: #0095A4;
    height: 45px;
    width: 25%;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}
.head__text button:hover{
    background: yellow;
    border: 1px solid red;
    color: black;
}
.head__img{
    padding-top: 100px;
    position: relative;
}
.img1{
    width: 100%;
}
.smalhome{
    width: 100%;
}
.head__box{
    position: absolute;
    bottom: 30%;
    right: 79%;
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    width: 22%;
    height: 181px;
    padding: 10px;
    box-shadow: 8px 8px 49px 0px #19394640;
    border-radius: 10px;
}
.head__price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.head__box h1{
    font-size: 16px;
    font-weight: 600;
    color: #0C1623;
}
.head__box h2{
    font-size: 14px;
    font-weight: 400;
    color: #3E5658B2;
}
.head__box button{
    width: 92px;
    height: 28px;
    background: #E8EFF4;
    font-size: 14px;
    font-weight: 500;
    color: #36C6CF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.head__box button:hover{
    background: yellow;
    border: 1px solid red;
    color: black;
}
.head__box h3{
    font-size: 18px;
    font-weight: 500;
    color: #36C6CF;
}
.head__jack{
   position: absolute;
   left: 78%;
   bottom: 65%;
    padding: 20px 20px;
    width: 20%;
    height: 189px;
    background: white;
    box-shadow: 8px 8px 49px 0px #19394640;
    border-radius: 10px;
}
.img__jack{
    position: absolute;
    right: -13%;
    top: -15%;
}
.head__jack h1{
    font-size: 24px;
    font-weight: 500;
    color: #021C1C;
    padding-top: 15px;
}
.Jack__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}
.Jack__text h2{
    font-size: 14px;
    font-weight: 400;
    color: #3E5658B2;
}
.Jack__text h3{
    font-size: 16px;
    font-weight: 400;
    color: #36C6CF;
}
.head__jack p{
    color: #122237;
    font-size: 16px;
    font-weight: 400;
}
#section2{
    background: #F4FDFE;

}
.first{
    font-family: Playfair Display;
font-size: 46px;
font-weight: 600;
line-height: 55.2px;
letter-spacing: 0.03em;
text-align: left; 
padding:  50px 0 ;
}
.first b{
    color: #0095A4;
   
}
.why{
    display: flex;
    justify-content: space-between;
    gap: 225px;
}
.why__img{
    width: 50%;
    margin-left: -6%;
    position: relative;
}
.why__img img:nth-child(2){
    width: 45%;
    position: absolute;
    left: 76%;
    top: 48%;
}
.why p{
    font-size: 20px;
    font-weight: 400;
    color: #0C1623CC;
}
.why__bar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why__box1{
    border-radius: 10px;
    gap: 30px;
    height: 100px;
    width: 176px;
    font-size: 13px;
  font-weight: 600;
  color: #0C1623;
    background: #FFFFFF;
    text-align: center;
    padding: 45px 0;
    box-shadow: 0px 6px 18px 0px #0000000F;

}
.why__box2{
    border-radius: 10px;
    margin-top: 150px;
    gap: 30px;
    height: 100px;
    width: 176px;
    font-size: 13px;
  font-weight: 600;
  color: #0C1623;
    background: #FFFFFF;
    text-align: center;
    padding: 45px 0;
    box-shadow: 0px 6px 18px 0px #0000000F;

}
#section3{
padding: 200px 0 100px 0;

}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    position: relative;
}
.main h1{
    font-size: 48px;
    font-weight: 600;
    color: #0C1623;
}
.main h5{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #101C26;
    padding-bottom: 230px;
}
.hr{
     margin-left: -7%;
    width: 90%;
    height: 203px;
    background-color: #0095A4
}
.Amenites{
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 49px;
}
.Amenites__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 278px;
    height: 334px;
    box-shadow: 6px 8px 46px 0px #82ACA240;
    background: white;
    border-radius: 10px;
}
.Amenites__box h1{
    font-size: 24px;
    font-weight: 500;
    color: #0C1623;
}
.img__box{
    background:  #EAFAFB;
    border-radius: 50px;
}
.img__crl{
   padding: 24px;
}
#section4{
    padding-top: 50px;
}
.Floor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.Floor h1{
    font-size: 48px;
    font-weight: 600;
    color: #0C1623;
}
.Floor b{
    color: #0095A4;
}
.Floor p{
    font-size: 16px;
    font-weight: 400;
    color:  #101C26CC;
}
.Plans{
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Plans__box{
    border-radius: 10px;
    width: 29.38%;
    height: 446px;
    background: #FFFFFF;
    box-shadow: 6px 8px 40px 0px #A4A6A840;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Plans__img{
    border-radius:10px;
    width: 100%;
}
.Plans__box h1{
    font-size: 32px;
    font-weight: 600;
    color: #0C1623;
}
.Plans__box p{
     font-size: 22px;
    font-weight: 400;
    color: #3B464F;
}
.Plans__box a{
    font-size: 16px;
    font-weight: 500;
    color: #0997A4;
}
#section5{
    padding-top: 100px;
}
.img__pos{
    position: relative;
   
}
.Our{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.Our h1{
    font-family: Playfair Display;
font-size: 48px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
}
.Our b{
 color: #0095A4;
}
.Our P{
    font-size: 18px;
    font-weight: 400;
    color: #101C26CC;
}
.Gallery__img{
    display: flex;
    align-items: center;
    justify-content: space-around;
   gap: 46%;
}
.Gallery__img2{
    position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
   gap: 52%;
}
.Gallery__img21{
    margin: 0 73% 0 0;
 
}
.Gallery__img22{
    position: absolute;
   left: 70%;
}
.box__img1{
    position: absolute;
    margin: -48% 0 33% -15%
}
.box__img2{
    position: absolute;
    margin: 0 0 70% 35%
}
.box__img3{
    margin: -29% 0 0 89%;
}
.box__img4{
    position: absolute;
    margin: 0 0 82% 204%;
}
.box__img5{
    margin: -77% 0 0 54%
}
.box__img6{
    position: absolute;
    left: 137%;
    top: 44%;
}
#section6{
    margin-top: 500px;
    background: url("img/./house\ 1.png") no-repeat center/cover ;
}
.Miss{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.Miss__text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 150px;
}
.Miss__text h1{
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
color: rgb(114, 97, 97);
}
.Miss__text b{
    color: #0095A4;
}
.Miss__text p{
    width: 433px;
    font-size: 19px;
    font-weight: 400;
    color: #5b3232;
}
.Miss__home{
    margin-top: 10px;
   width: 510px;
   height: 575px;
   background: white;
   border-top-left-radius: 250px;
   border-top-right-radius: 250px;
   display: flex;
   align-items: center;
   padding-top: 50px;
   flex-direction: column;
}
.Miss__home h1{
    font-size: 24px;
    font-weight: 600;
    color: #0C1623;
  padding-bottom: 50PX;
}
.home__box1{
    display: flex;
    gap: 65px;
    padding-top: 24px;
}
.home__box1 h2{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #0C1623;
}
.home__box1 input{
    border: 0.57px solid #76989A;
    border-radius: 2px;
    width: 192px;
    height: 46px;
    background: #F4FDFE;
    font-family: Playfair Display;
font-size: 18px;
font-weight: 400;
color: #101C2699;
text-align: center;
}
.help{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-top: 30px;
}
.help b{
    text-align: start;
    font-size: 16px;
    font-weight: 600;
    color: #0C1623;
}
#text{
    background: #F4FDFE;
    border: 0.57px solid #76989A;
    border-radius: 2px;
    width: 404px;
    height: 150px;
}
.help button{
    height: 45.67px;
    width: 100%;
    border-radius: 50px;
    background: #F4FDFE;
    border: 0.57px solid #76989A;
    cursor: pointer;
}
.help button:hover{
    background: yellow;
    border: 1px solid black;
    color: red;
}
.help p{
    font-size: 15px;
    font-weight: 400;
    color: #6E7189;
}
#section7{
    background: #E8EFF4;
    margin-top: 100px;
}
.Ask{
    display: flex;
   align-items: baseline;
    justify-content: space-between;
}
.Ask__text{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}
.Ask h1{
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
text-align: left;
width: 411px;
}
.Ask b{
    color: #0095A4;
}
.Ask p{
    width: 410px;
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #101C26CC;
}
#accordion{
    margin: 100px auto;
    width: 600px;
   display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#accordion li{
    list-style: none;
    width: 100%;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
   
}
#accordion li label{
font-size: 18px;
font-weight: 600;
text-align: left;
color: #0C1623;
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
}
#accordion li label span{
    transform: rotate(90deg);
   font-size: 22px;
} 

#accordion label + input[type="radio"]{
    display: none;
}
#accordion .content{
    padding: o 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transform: max-heght 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
  max-height: 400px;
}
#Out{
    background: #0C1623;
    text-align: center;
    padding: 50px 0;
    display: flex;
    align-items: center;
   gap: 15px;
    flex-direction: column;
}
#Out h1{
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
color: #FFFFFF;
}
#Out b{
    color: #0095A4;
}
#Out p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFFCC;
}
#Out button{
    width: 10%;
    height: 54px;
    background: #0095A4;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}
#Out button:hover{
    background: yellow;
    border: 1px solid brown;
    color: #36C6CF;
}
#foot{
    background: #E8EFF4;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
#foot h1{
   font-size: 24px;
   font-weight: 600;
   color: #0C1623;
   display: flex;
   align-items: safe;
   gap: 10px;
}
#foot a{
font-size: 16px;
font-weight: 500;
text-align: center;
}
#footer{
    background: #0C1623 ;
    padding: 100px 0 50px 0;
}
.footer{
    display: flex;
    justify-content: space-between;

}
.footer__box{
    display: flex;
  
    flex-direction: column;
    gap: 30px;
}
.footer__box h1{
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}
.footer__box p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFFE5;
    width: 318px;
}
.img__link{
    display: flex;
    align-items: center;
    gap: 20px;
}
.img__side{
    height: 45px;
    width: 15%;
    border-radius: 50%;
    background: #0095A4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Grow{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 110px;
}
.Grow h1{
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    width: 267px;
    text-align: center;
    margin-bottom:  10px;
}
.Grow__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
}
.Grow__btn button:nth-child(1){
    background: #0095A4;
    width: 33%;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.Grow__btn button:hover:nth-child(1){
    background: yellow;
    color: #36C6CF;
    border: 1px solid 0095A4;
}
.Grow__btn button:nth-child(2){
    width: 35%;
    height: 40px;
   background: #021C1C;
   border: 1px solid #0395A4;
   border-radius:40px ;
   color: #0395A4;
   font-size: 15px;
   font-weight: 400;
}
.Grow__btn button:hover:nth-child(2){
    background: bisque;
    border: 1px solid black;
    color: white;
}
.About{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 15px;
}
.About h1{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.About li{
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.li{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.last{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    padding: 200px 0 0 0;
}