*{
    margin:  0;
    padding: 0;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    width: 90%;

}
#header{
    background: #8dd8e058;
    padding: 20px 0;
    position: fixed;
   z-index: 99;
   right: 0;
   left: 0;
   
}
a{
    text-decoration: none;
    font-family: sans-serif;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span__bar{
    display: flex;
    align-items: center;
    gap: 150px;
}
 nav{
    gap: 80px;
    display: flex;
}
nav a:hover{
    padding-right: 30px;
    background: rgba(255, 255, 0, 0.726);
    border: 1px solid white;
    border-radius: 10px;
    transition: .60s;
}
nav a{
    font-size: 18px;
    font-weight: 400;
    color: #636465;
}
.header__btn{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__btn button{
    background: #0095A4;
    width: 106px;
    height: 39px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.header__btn button:hover{
   padding-left: 20px;
    background: rgba(255, 60, 0, 0.726);
    border: 1px solid white;
    border-radius: 10px;
    transition: .60s;
}
.header__btn a:hover{
    padding-right: 30px;
    background: rgba(255, 60, 0, 0.726);
    border: 1px solid white;
    border-radius: 10px;
    transition: .60s;
    
}
.header__btn a:nth-child(1){
   font-size: 18px;
   color: #636465;
   font-weight: 400;
}
#section1{
    padding-top: 200px ;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head h1{
    font-family: Playfair Display;
font-size: 68px;
font-weight: 700;
line-height: 81.6px;
text-align: left;
}
.head b{
    color: #0095A4;
}
.head__text{
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.head__text p{
    width: 494px;
    font-size: 19px;
    color: #122237;
    font-weight: 400;
}
.head__text button{
    background: #0095A4;
    height: 45px;
    width: 25%;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
}
.head__text button:hover{
    background: yellow;
    border: 1px solid red;
    color: black;
}
.head__img{
    padding-top: 100px;
    position: relative;
}
.img1{
    width: 100%;
}
.smalhome{
    width: 100%;
}
.head__box{
    position: absolute;
    bottom: 30%;
    right: 79%;
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    width: 22%;
    height: 181px;
    padding: 10px;
    box-shadow: 8px 8px 49px 0px #19394640;
    border-radius: 10px;
}
.head__price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.head__box h1{
    font-size: 16px;
    font-weight: 600;
    color: #0C1623;
}
.head__box h2{
    font-size: 14px;
    font-weight: 400;
    color: #3E5658B2;
}
.head__box button{
    width: 92px;
    height: 28px;
    background: #E8EFF4;
    font-size: 14px;
    font-weight: 500;
    color: #36C6CF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.head__box button:hover{
    background: yellow;
    border: 1px solid red;
    color: black;
}
.head__box h3{
    font-size: 18px;
    font-weight: 500;
    color: #36C6CF;
}
.head__jack{
   position: absolute;
   left: 78%;
   bottom: 65%;
    padding: 20px 20px;
    width: 20%;
    height: 189px;
    background: white;
    box-shadow: 8px 8px 49px 0px #19394640;
    border-radius: 10px;
}
.img__jack{
    position: absolute;
    right: -13%;
    top: -15%;
}
.head__jack h1{
    font-size: 24px;
    font-weight: 500;
    color: #021C1C;
    padding-top: 15px;
}
.Jack__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}
.Jack__text h2{
    font-size: 14px;
    font-weight: 400;
    color: #3E5658B2;
}
.Jack__text h3{
    font-size: 16px;
    font-weight: 400;
    color: #36C6CF;
}
.head__jack p{
    color: #122237;
    font-size: 16px;
    font-weight: 400;
}
#section2{
    background: #F4FDFE;

}
.first{
    font-family: Playfair Display;
font-size: 46px;
font-weight: 600;
line-height: 55.2px;
letter-spacing: 0.03em;
text-align: left; 
padding:  50px 0 ;
}
.first b{
    color: #0095A4;
   
}
.why{
    display: flex;
    justify-content: space-between;
    gap: 225px;
}
.why__img{
    width: 50%;
    margin-left: -6%;
    position: relative;
}
.why__img img:nth-child(2){
    width: 45%;
    position: absolute;
    left: 76%;
    top: 48%;
}
.why p{
    font-size: 20px;
    font-weight: 400;
    color: #0C1623CC;
}
.why__bar{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why__box1{
    border-radius: 10px;
    gap: 30px;
    height: 100px;
    width: 176px;
    font-size: 13px;
  font-weight: 600;
  color: #0C1623;
    background: #FFFFFF;
    text-align: center;
    padding: 45px 0;
    box-shadow: 0px 6px 18px 0px #0000000F;

}
.why__box2{
    border-radius: 10px;
    margin-top: 150px;
    gap: 30px;
    height: 100px;
    width: 176px;
    font-size: 13px;
  font-weight: 600;
  color: #0C1623;
    background: #FFFFFF;
    text-align: center;
    padding: 45px 0;
    box-shadow: 0px 6px 18px 0px #0000000F;

}
#section3{
padding: 200px 0 100px 0;

}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    position: relative;
}
.main h1{
    font-size: 48px;
    font-weight: 600;
    color: #0C1623;
}
.main h5{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #101C26;
    padding-bottom: 230px;
}
.hr{
     margin-left: -7%;
    width: 90%;
    height: 203px;
    background-color: #0095A4
}
.Amenites{
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 49px;
}
.Amenites__box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 278px;
    height: 334px;
    box-shadow: 6px 8px 46px 0px #82ACA240;
    background: white;
    border-radius: 10px;
}
.Amenites__box h1{
    font-size: 24px;
    font-weight: 500;
    color: #0C1623;
}
.img__box{
    background:  #EAFAFB;
    border-radius: 50px;
}
.img__crl{
   padding: 24px;
}
#section4{
    padding-top: 50px;
}
.Floor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.Floor h1{
    font-size: 48px;
    font-weight: 600;
    color: #0C1623;
}
.Floor b{
    color: #0095A4;
}
.Floor p{
    font-size: 16px;
    font-weight: 400;
    color:  #101C26CC;
}
.Plans{
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Plans__box{
    border-radius: 10px;
    width: 29.38%;
    height: 446px;
    background: #FFFFFF;
    box-shadow: 6px 8px 40px 0px #A4A6A840;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Plans__img{
    border-radius:10px;
    width: 100%;
}
.Plans__box h1{
    font-size: 32px;
    font-weight: 600;
    color: #0C1623;
}
.Plans__box p{
     font-size: 22px;
    font-weight: 400;
    color: #3B464F;
}
.Plans__box a{
    font-size: 16px;
    font-weight: 500;
    color: #0997A4;
}
#section5{
    padding-top: 100px;
}
.img__pos{
    position: relative;
   
}
.Our{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.Our h1{
    font-family: Playfair Display;
font-size: 48px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
}
.Our b{
 color: #0095A4;
}
.Our P{
    font-size: 18px;
    font-weight: 400;
    color: #101C26CC;
}
.Gallery__img{
    display: flex;
    align-items: center;
    justify-content: space-around;
   gap: 46%;
}
.Gallery__img2{
    position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
   gap: 52%;
}
.Gallery__img21{
    margin: 0 73% 0 0;
 
}
.Gallery__img22{
    position: absolute;
   left: 70%;
}
.box__img1{
    position: absolute;
    margin: -48% 0 33% -15%
}
.box__img2{
    position: absolute;
    margin: 0 0 70% 35%
}
.box__img3{
    margin: -29% 0 0 89%;
}
.box__img4{
    position: absolute;
    margin: 0 0 82% 204%;
}
.box__img5{
    margin: -77% 0 0 54%
}
.box__img6{
    position: absolute;
    left: 137%;
    top: 44%;
}